body {
  
  color: #444444;
}

a {
  text-decoration: none;
  color: #01376d;
}

a:hover {
  color: #01376d;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #01376d;
}
.section-title h2 span {
  color: #01376d;
}
.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events {
  background: url(../img/slide3.gif) center center no-repeat;
  background-size: cover;
  position: relative;
}
.events::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.events .section-title h2 {
  color: #fff;
}
.events .container {
  position: relative;
}
@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}
.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}
.events .event-item {
  color: #fff;
}
.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #c0c0c0;
}
.events .event-item .price {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.events .event-item .price span {
  border-bottom: 2px solid #c0c0c0;
}
.events .event-item ul {
  list-style: none;
  padding: 0;
}
.events .event-item ul li {
  padding-bottom: 10px;
}
.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #c0c0c0;
}
.events .event-item p:last-child {
  margin-bottom: 0;
}
.events .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.events .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.events .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #01376d;
}

.bgColor {
  background-color: #01376d;
  color: white;
}

.tamanhoBannerCarrosel{
  height: 70vh;
}

.tamanhoTextoCarrosel{
  height: 50vh;
}

.bgText {
  background-color: #fff;
  color: black;
}

.divChamada img{
  opacity: 0.90;
}

.divChamada p{
  color: black;
}
.divChamada h2{
  color: black;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ROLE {
  border: 3px solid none;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tmnh{
  width: 300px;
}

.ROLE:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  height: 100%;
  background-color: #016862;
}
.why-us .box span {
  text-align: center;
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.why-us .box h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #fff;
}
.why-us .box p {
  text-align: center;
  color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.why-us .box:hover {
  background: #01376d;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}
.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}

#footer {
  background: #01376d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #016862;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #016862;
  color: #fff;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}